<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
   
    <script src="angular.min.js"></script>
	<script src="app.js"></script>
  </head>
    
<body >
   <div ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div>
             <input id="lunch-menu" type="text" size='50'
             placeholder="list comma separated dishes you usually have for lunch"
             ng-model="menu"> <br> <br>
             my menu is : {{menu}}
         </div>
		 <br>
         <div  ng-model="button" ng-click="checkLunch();">
             <button >Check If Too Much</button>
         </div>
         <div  ng-model="message"> <br>
         	{{message}} <br>
         	<!-- {{message}} -->
           <!-- Your message can go here. -->
         </div>
   </div>

</body>
</html>
	