<html lang="en" ng-app="ShoppingListCheckOff">
<head>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <h1>Shopping List Check Off</h1>
        

    <!-- *** Row with lists *********************************************** -->
    <div class="row">
      
        <div ng-controller="ToBuyShoppingController as listToBuy">
          <h2>To Buy</h2>
          <ol>
            <div ng-show="listToBuy.items.length > 0">
              <li ng-repeat="item in listToBuy.items;">
                {{ item.quantity }} of {{ item.name }} 
                <button class="btn btn-primary btn-xs" ng-click="listToBuy.checkOff($index);">Bought</button>
              </li>
            </div>
            <div ng-show="listToBuy.items.length == 0">
              <p>All items bought!</p>
            </div>
          </ol>
        
      </div>

        <div ng-controller="AlreadyBoughtShoppingController as listBought">
          <h2>Already Bought</h2>
          <div ng-show="listBought.items.length > 0">
            <ol>
              <li ng-repeat="item in listBought.items;">{{ item.quantity }} of {{ item.name }}</li>
            </ol>
          </div>
          <div ng-show="listBought.items.length == 0">
            <p>Nothing bought yet!</p>
          </div>
        </div>
      
    </div>

   
</body>
</html>